# See http://help.github.com/ignore-files/ for more about ignoring files.

API/node_modules
API/.env


# compiled output
Frontend/dist
Frontend/tmp

# dependencies
Frontend/node_modules
Frontend/bower_components

# IDEs and editors
Frontend/.idea
Frontend/.vscode
Frontend/.project
Frontend/.classpath
Frontend/*.launch
Frontend/.settings/

# misc
Frontend/.sass-cache
Frontend/connect.lock
Frontend/coverage/*
Frontend/libpeerconnection.log
Frontend/npm-debug.log
Frontend/testem.log
Frontend/typings

# e2e
Frontend/e2e/*.js
Frontend/e2e/*.map

#System Files
Frontend/.DS_Store
Frontend/Thumbs.db
